
#p2
{
font-size:100%;	

color:white;


}
#home
{
font-size:100%;	
float:left;
color:white;
margin-left:25%;

}

#men
{
font-size:100%;	
float:left;
color:white;
margin-left:5%;

}
#women
{
font-size:100%;	
float:left;
color:white;
margin-left:5%;

}
#kids
{
font-size:100%;	
float:left;
color:white;

}#women
{
font-size:100%;	
float:left;
color:white;
margin-left:5%;

}
#kids
{
font-size:100%;	
float:left;
color:white;
margin-left:5%;

}
#contact
{
font-size:100%;	

color:white;
text-align:right;
margin-right:5%;
}
#div1{
	
	height:600px;
	width:80%;
border:  solid black;
margin-left:20%;
background-color:black;
margin-top:5%;
}
