<div  ng-controller = "headerCtrl" style="height:200%;background-color:black;">
<p id="p2">VPNexpress</p>
<P id="home"><a href="#HOME" style="color:white" >HOME</a></p>
<P id="men"> <a href="#SHOP" style="color:white; margin-left: 10px" >SHOP</a></p>
<P id="women"><a href="#CART" style="color:white; margin-left: 10px" >CART</a></p>
</a></p>
<h1 style="color: white;float:right;font-size:20px;margin: 3px;margin-right:80px">{{take2*1.1 | currency}}</h1> 
<img src="https://www.colourbox.com/preview/11522172-money-bag-icon-on-black-background-vector.jpg" style="height:30px;width:30px;margin-left:450px;">


</div>